<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzs.st.dao.StuDetailInfDaoImpl">
    <!--定义一个resultMap用于封装查询记录-->
    <resultMap id="resMap" type="java.util.HashMap">
        <!--column对应列名或者列别名，property 区分大小写，对应属性或者map的key-->
        <result column="stuId" property="stuId" javaType="java.lang.String"></result>
        <result column="examIdX" property="examIdX" javaType="java.lang.String"></result>
        <result column="appID" property="appID" javaType="java.lang.String"></result>
        <result column="examName" property="examName" javaType="java.lang.String"></result>
        <result column="examGrade" property="examGrade" javaType="java.lang.String"></result>
        <result column="province" property="province" javaType="java.lang.String"></result>
        <result column="city" property="city" javaType="java.lang.String"></result>
        <result column="examAdd" property="examAdd" javaType="java.lang.String"></result>
        <result column="examSDateTime" property="examSDateTime" javaType="java.lang.String"></result>
        <result column="examEDateTime" property="examEDateTime" javaType="java.lang.String"></result>
        <result column="appDateTime" property="appDateTime" javaType="java.lang.String"></result>
        <result column="verCase" property="verCase" javaType="java.lang.String"></result>
        <result column="verDateTime" property="verDateTime" javaType="java.lang.String"></result>
        <result column="verState" property="verState" javaType="java.lang.String"></result>
    </resultMap>
    <select id="selectStuDetailInfById" parameterType="java.lang.String"
            resultType="com.wzs.st.entity.StuDetailInfEntity">
    select stuId,stuName,stuSex,stuTel,stuBirth ,stuIdNum, stuEmail ,stuPicName,stuPicUrl
from stubasicinfo where stuId=#{stuId}
  </select>
    <!--插入学生详细信息-->
    <insert id="insertStuInf" parameterType="com.wzs.st.entity.StuDetailInfEntity">
        insert into stubasicinfo(
        stuId,stuName,stuSex,stuTel,stuBirth,stuIdNum,stuEmail,stuPicName,stuPicUrl
        )values(#{stuId},#{stuName},#{stuSex},#{stuTel},#{stuBirth},#{stuIdNum},#{stuEmail},#{stuPicName},#{stuPicUrl})
    </insert>
    <!--根据考生Id查询考生报考信息列表-->
    <select id="selectExamDetailList" resultMap="resMap" parameterType="String">
        select stuId, a.examIdX, appID,
   examName,examGrade,province,city,examAdd,
  examSDateTime,examEDateTime,appDateTime,verCase,verDateTime,verState from appexaminfo AS a
  ,examdetails AS b,exambase c
WHERE
	a.stuId =#{stuId} and  a.examIdX=b.examIdX and c.examId=b.examId
    </select>
</mapper>