<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzs.st.dao.StuUserInfoDaoImpl">
    <!--一般指向当前mapper文件对应的接口实现类
    多个mapper文件的namespace不能重复
  -->
    <!--
    parameterType:表示将数据封装到那种类型对象中，传入当前sql语句
    #{} 表达式，用于获取属性 里面写对象的属性名，区分大小写
    id属性：与namespace 指定的类中的方法名一致，此时方法就会映射到该标签；同一个mapper文件中id属性不能重复
    -->
    <insert id="insertStuUserInfo" parameterType="com.wzs.st.entity.StuUserInfoEntity">
    insert into stuuserinfo (stuId,stuUserName,stuPassword,regDate)
    values(#{stuId},#{stuUserName},#{stuPassword},#{regDate})
  </insert>
    <!--
  resultType 指定的类，下面查询的列名或者列别名，必须跟实体类中的属性名一致，不区分大小写
  -->
    <select id="selectStudentIdInfoList" resultType="com.wzs.st.entity.StuUserInfoEntity">
    select stuId,stuUserName,stuPassword,regDate from stuuserinfo
  </select>

    <delete id="deleteStudentIdInformation" parameterType="java.lang.String">
    delete from stuuserinfo where stuId=#{a}
  </delete>

    <update id="updateStudentIdInformation" parameterType="com.wzs.st.entity.StuUserInfoEntity">
    update stuuserinfo set stuId=#{stuId},stuPassword=#{stuPassword},regDate=#{regDate}
    where stuId=#{stuId}
  </update>

    <select id="selectStudentIdInfoById" resultType="com.wzs.st.entity.StuUserInfoEntity" parameterType="String">
    select stuId,stuUserName,stuPassword,regDate
    from stuuserinfo where stuId=#{stuId}
  </select>
    <!--根据用户名和密码查询行记录-->
    <select id="selectStuByUsernamePwd" resultType="com.wzs.st.entity.StuUserInfoEntity"
            parameterType="com.wzs.st.entity.StuUserInfoEntity">
     select stuId,stuUserName,stuPassword,regDate
    from stuuserinfo where stuUserName=#{stuUserName} and stuPassword=#{stuPassword}
  </select>
    <!--根据密码查询行记录-->
    <select id="selectStuByUsername" resultType="com.wzs.st.entity.StuUserInfoEntity"
            parameterType="String">
     select stuId,stuUserName,stuPassword,regDate
    from stuuserinfo where stuUserName=#{stuUserName}
  </select>
</mapper>